.banner {
  padding-top: 65px;
  width: 100vw;
  height: 250px;
  background-color: #38b6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-logo {
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: -15px;
}

.searchbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: 35px;
  height: 50px;
  width: 510px;
  border-radius: 40px;
  background-color: white;
}

.searchbar-input {
  width: 412px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  font-size: 15px;
}

.searchbar-button {
  border: 0;
  outline: none;
  background-color: transparent;
  position: relative;
  left: -17px;
  transition: all 0.2s ease-in-out;
}

.searchbar-icon {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

.searchbar-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}