.comment-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-comment-btn {
  margin-top: 260px;
  align-self: center;
  background-color: #00e38c;
  color: white;
  padding: 10px 0px;
  width: 200px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-comment-btn:hover {
  transform: scale(1.05);
}
