.post {
  background-color: rgb(246, 246, 246);
  padding: 10px;
  position: relative;
  transition:
    transform 0.2s,
    background-color 0.2s,
    border-radius 0.2s,
    border 0.2s;
  transform-origin: center;
}

.post:hover {
  background-color: rgb(251, 251, 251);
  transform: scale(1.05);
  z-index: 5;
}

.post:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-image: repeating-linear-gradient(
    to right,
    #d0d0d0 0px,
    #d0d0d0 8px,
    transparent 8px,
    transparent 16px
  );
}

.post:first-child {
  padding-top: 12px;
}

.post:last-child {
  padding-bottom: 12px;
}

.post::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5px;
  background-image: repeating-linear-gradient(
    to right,
    #d0d0d0 0px,
    #d0d0d0 8px,
    transparent 8px,
    transparent 16px
  );
}

.post-author-info {
  display: flex;
  align-items: center;
  gap: 7px;
}

.post-author-info a {
  text-decoration: none;
  color: #000000;
}

.post-edited-tag {
  font-size: 0.75rem;
  color: #64748b;
  font-style: italic;
  font-weight: 400;
  margin-left: 2px;
}

.post-pfp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #00cfff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-username {
  font-size: 14px;
}

.post-username:hover {
  color: #8cc2ef;
  text-decoration: underline;
}

.post-dot,
.post-date {
  font-size: 14px;
  color: rgb(170, 170, 170);
}

.post-interactions {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 55px;
}

.post-like-count {
  position: absolute;
  left: 50px;
  text-align: left;
  font-size: 13px;
  color: rgb(138, 138, 138);
}

.post-dislike-count {
  position: absolute;
  left: 135px;
  text-align: left;
  font-size: 13px;
  color: rgb(138, 138, 138);
}

.post-comment-count {
  position: absolute;
  left: 220px;
  text-align: left;
  font-size: 13px;
  color: rgb(138, 138, 138);
}

.post-comment-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(222, 222, 222);
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.post-comment-btn:hover {
  background-color: rgb(198, 198, 198);
}

.post-username-link {
  text-decoration: none;
  color: inherit; 
}

.post-username-link:hover .post-username {
  text-decoration: underline;
  color: #38b6ff; 
}

.post-pfp {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.post-pfp:hover {
  transform: scale(1.1);
}